.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: start;
}

.dashboard-image-card-content{
  text-align: center;
}

.image-container {
  text-align: center;
}

.filterButtonsDiv {
  display:grid;
  grid-gap: 2px;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 50px;
  text-align: center;
}
.filterButtons-wrapper {
  text-align: right;
}