html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  /* background-image: linear-gradient(#91c6ff, white); */
  background:
          /* linear-gradient(45deg, #000000, rgba(0,0,255,0) 50.71%),        */
          linear-gradient(225deg, #3f51b5, rgba(255,0,0,0) 55%),
          linear-gradient(45deg,  #3f51b5, rgba(255,0,0,0) 55%);
          /* linear-gradient(315deg, #fea027, rgba(0,0,255,0) 70.71%), */
          /* linear-gradient(135deg, #fd4f2a, rgba(0,255,0,0) 60.71%); */
          
    background-repeat: no-repeat;
  background-attachment: fixed;
}


a:link, a:visited {
  background-color: #fea027;
  color: black;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}
  
a:hover, a:active {
  background-color: #79acc5;
}